<div class="register-successfully-container">
    <div class="register-successfully-card">
        <div class="register-card-header">
            <img src="./assets/images/Impex-Logo.png" class="register-successfully-card-header__logo">
        </div>
        <div class="register-successfully-card-body">
            <img src="./assets/images/success.png"/>
            <h5>Thank you for registration</h5>
            <p>Your data will be verified with your Bank <strong>{{registeredData.bankId}}</strong> Data. <br>Please check your Email and mobile number for
                confirmation.</p>
        </div>
    </div>
    <div class="register-successfully-bg"></div>
</div>